<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">考官姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="examinerName" name="examinerName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">学科代码</label>
                            <div class="layui-input-inline">
                                <input type="text" id="subjectCode" name="subjectCode" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">学段</label>
                            <div class="layui-input-inline">
                                <input type="text" id="examType" name="examType" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">身份证号码</label>
                            <div class="layui-input-inline">
                                <input type="text" id="idCard" name="idCard" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">区县</label>
                            <div class="layui-input-inline">
                                <input type="text" id="district" name="district" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="data-search-btn">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <div class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"> ></div>
        <script type="text/html" id="currentTableBar">
            {{#  if(d.examId == '0'){ }}
            <a class="layui-btn layui-btn-xs  layui-btn-danger data-count-delete" lay-event="delete">无法出席</a>
            {{#  } else if(d.examId == '' || d.examId == 'null') { }}
            <a class="layui-btn  layui-btn-xs data-count-edit" lay-event="edit">还未分配</a>
            {{#  } else { }}
            <a class="layui-btn  layui-btn-xs data-count-edit" lay-event="edit">确认出席</a>
            {{#  } }}
        </script>
    </div>
</div>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8" ></script>
<script th:inline="none">

    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: document.getElementById('currentTableId'),
            url: '/examinerStatus',

            cols: [[
                {type: "checkbox", width: 30, fixed: "left"},
                {type: 'numbers', title: '序号', sort: true, width:30},
                {field: 'examinerName', title: '姓名' ,width:100},
                {field: 'sex',title: '性别', width:50},
                {field: 'nation', title: '名族', width:80},
                {field: 'examType', title: '学段', width:100},
                {field: 'subjectName', title: '学科名称'},
                {field: 'fixedTel', title: '固定电话'},
                {field: 'tel', title: '手机号码'},
                {field: 'district', title: '所属区县', width:100},
                {field: 'state', title: '状态' ,width:60},
                {title: '操作', minWidth: 50, templet: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            page:true,
            limit:10,
            response:{statusCode:0},
            parseData:function (data) {
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": data.size, //解析数据长度
                    "data": data.data //解析数据列表
                }
            }

        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function () {
            // 搜索条件
            var examinerName = $('#examinerName').val();
            var subjectName = $('#subjectName').val();
            var examType = $('#examType').val();
            var idCard = $('#idCard').val();
            var district = $('#district').val();
            //执行搜索重载
            table.reload('currentTableId', {
                url:"/LikeExaminer",
                page: {
                    curr: 1
                }
                , where: {
                    'examinerName': $.trim(examinerName),
                    'subjectName': $.trim(subjectName),
                    'examType': $.trim(examType),
                    'idCard': $.trim(idCard),
                    'district': $.trim(district),
                }
            });
            return false;
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
    });
</script>
<script>


</script>

</body>
</html>