<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <!--<fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">考官姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="examinerName" name="examinerName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">学科代码</label>
                            <div class="layui-input-inline">
                                <input type="text" id="subjectCode" name="subjectCode" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">学段</label>
                            <div class="layui-input-inline">
                                <input type="text" id="examType" name="examType" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">身份证号码</label>
                            <div class="layui-input-inline">
                                <input type="text" id="idCard" name="idCard" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">区县</label>
                            <div class="layui-input-inline">
                                <input type="text" id="district" name="district" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="data-search-btn">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>-->
        <input type="hidden" th:value="${exam.id}">
        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-danger data-delete-btn">删除</button>
            <!--<button class="layui-btn easy-expor-btn">Excel导出</button>-->
        </div>
        <div class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"> ></div>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>
    </div>
</div>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8" ></script>
<script th:inline="none">

   /* //监听批量导入
    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;
        upload.render({ //允许上传的文件后缀
            elem: '#ImportExcel'
            , url: '/ImportExcel' //改成您自己的上传接口
            , accept: 'file' //普通文件
            ,processData: false //因为data值是FormData对象，不需要对数据做处理。
            ,contentType: false
            ,type:'POST'
            , done: function (res) {
                layer.msg('上传成功');
                console.log(res)
                location.reload();
            }
        });
    })*/

    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        var id = $('input:hidden').val();
        table.render({

            elem: document.getElementById('currentTableId'),
            url: '/viewExaminer?id='+id,
            cols: [[
                {type: "checkbox", width: 30, fixed: "left"},
                {type: 'numbers', title: '序号', sort: true, width:30},
                {field: 'examinerName', title: '姓名'},
                {field: 'idCard', title: '身份证号码'},
                {field: 'sex',title: '性别',width:50},
                {field: 'examType', title: '学段'},
                {field: 'subjectName', title: '学科名称'},
                {field: 'position', title: '职位'},
                {field: 'mailingAddress', title: '通讯地址'},
                {field: 'fixedTel', title: '固定电话'},
                {field: 'tel', title: '手机号码'},
                {field: 'email', title: '电子邮箱'},
                {field: 'district', title: '所属区县'},
                {field: 'state', title: '状态'},
                {title: '操作', minWidth: 50, templet: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            page:true,
            limit:10,
            response:{statusCode:0},
            parseData:function (data) {
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": data.size, //解析数据长度
                    "data": data.data //解析数据列表
                }
            }

        });

       /* // 监听搜索操作
        form.on('submit(data-search-btn)', function () {
            // 搜索条件
            var examinerName = $('#examinerName').val();
            var subjectName = $('#subjectName').val();
            var examType = $('#examType').val();
            var idCard = $('#idCard').val();
            var district = $('#district').val();
            //执行搜索重载
            table.reload('currentTableId', {
                url:"/LikeExaminer",
                page: {
                    curr: 1
                }
                , where: {
                    'examinerName': $.trim(examinerName),
                    'subjectName': $.trim(subjectName),
                    'examType': $.trim(examType),
                    'idCard': $.trim(idCard),
                    'district': $.trim(district),
                }
            });
            return false;
        });

        //监听导出操作
        $(".easy-expor-btn").on("click", function () {
            layer.confirm('确定导出Excel',function(index){
                $.ajax({
                    type: "post",
                    url: '/ExporExcel',
                });
                layer.close(index);
                layer.msg('导出成功');
                table.reload('currentTableId',{
                    url:'/viewExaminer',
                    where: { //设定异步数据接口的额外参数，任意设
                    },
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            })

        });*/

        // 监听删除操作
        $(".data-delete-btn").on("click", function () {
            var checkStatus = table.checkStatus('currentTableId')
            var id = $('input:hidden').val();
            data = checkStatus.data;
            if (JSON.stringify(data) == null || JSON.stringify(data) == "[]"){
                layer.msg("选择不能为空！");
            }else {
                layer.confirm('真的删除行么', function (index) {
                    if (index) {
                        var checkStatus = table.checkStatus('currentTableId'),
                            data = checkStatus.data;
                        var ids = [];
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                ids += data[i].id + ',';
                            }
                            console.log(id);
                            $.ajax({
                                type: "post",
                                url: '/deleteAllViewExaminer',
                                data: {"id":id,"ids": ids},
                            });
                            console.log(id,ids);
                            layer.close(index);
                            layer.msg('删除成功');
                            table.reload('currentTableId', {
                                url: '/viewExaminer',
                                where: { //设定异步数据接口的额外参数，任意设
                                    id: id
                                },
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        }
                        ;
                    } else {
                        layer.close(index);
                    }
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
        //监听编辑
        table.on('tool(currentTableFilter)', function (obj) {

            var data = obj.data;
            console.log(data);
            if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    if (index){
                        var id = $('input:hidden').val();
                        $.ajax({
                            type:"post",
                            url:"/deleteViewExaminer",
                            data:{"id":id,"ids":data.id},
                            success:function (data) {
                                obj.del();
                                layer.alert('删除成功'+id);
                            }
                        });
                    }else {
                        layer.close(index);
                    }
                });
            }
        });

    });
</script>
<script>


</script>

</body>
</html>